<ActionBar title="Groceries"></ActionBar>

<GridLayout rows="auto, *">

    <GridLayout row="0" columns="*, auto" class="add-bar">
        <TextField #groceryTextField [(ngModel)]="grocery" hint="Enter a grocery item to save"
            col="0"></TextField>
        <Image src="~/images/add.png" (tap)="add()" col="1"></Image>
    </GridLayout>

    <RadListView row="1" [items]="groceryList" [class.visible]="listLoaded"
        swipeActions="true" (itemSwipeProgressStarted)="onSwipeCellStarted($event)">
        (itemSwipeProgressStarted)="onSwipeCellStarted($event)">

        <ng-template let-item="item">
            <Label [text]="item.name" class="p-15"></Label>
        </ng-template>

        <GridLayout *tkListItemSwipeTemplate columns="*, auto">
            <StackLayout id="delete-view" col="1" (tap)="delete($event)"
                class="delete-view">
                <Image src="~/images/delete.png"></Image>
            </StackLayout>
        </GridLayout>

    </RadListView>

    <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'"
        row="1" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
</GridLayout>